body{
	background-color: #062F4F;
	margin: 0px;
}

.site{
	background-color: #fff;
	margin-left: 200px;
	margin-right: 200px;
	box-shadow: 0 0 5px rgba(0,0,0,0.125)
}

.header-wrapper{
	overflow: hidden; 
	text-align: center; 
	padding-top: 60px; 
	padding-bottom: 40px;
	display:block;
}

.site-logo{
	float: center;
	display:inline-block;
}
.site-name{
	float: center;
}
.site-name h1{
	margin: 0; 
	font-size: 44px; 
	color: #062F4F;  
	text-transform:	uppercase; 
	letter-spacing: 2px;
}
	
.site-name h2{
	font-size: 18px; 
	line-height: 24px; 
	color: #062F4F; 
}
.navbar{
	margin-bottom: 50px;
}

.navbar ul {
  box-shadow: 0px 5px 16px rgba(0,0,0,0.3);
  list-style: none;
  background-color: #fff;
  text-align: center;
  padding: 0;
  margin: 0;
}
.navbar li {
  font-family: 'Oswald', sans-serif;
  font-size: 1.2em;
  line-height: 40px;
  height: 40px;
}
 
.navbar li {
  width: 120px;
  height: 50px;
  line-height: 50px;
  font-size: 1.4em;
}
 
.navbar li {
  display: inline-block;
  margin-right: -4px;
}
 
.navbar a {
  text-decoration: none;
  color: #062F4F;
  display: block;
  transition: .3s background-color;
}
 
.navbar a:hover {
  background-color: #062F4F;
  color: #fff;
}
 
.container{
	display: block;
	border-spacing: collapse;
}

.box, .box-pizza {
	position: relative;
	border-radius: 36px;
	background-color: #fff;
    box-shadow: 0px 5px 16px rgba(0,0,0,0.3);
    height: auto;
    padding: 28px;
	width: auto;
	display: inline-block;
}

.pizza-thumbnail img {
   width: 300px;
   height: 200px;
}

.box h1, .box-pizza h1{
	color:#062F4F;
}

.box-row{
	text-align:center;
}

.background-box{
	position: relative;
	border-radius: 36px;
	background-color: #062F4F;
    box-shadow: 0px 5px 16px rgba(0,0,0,0.3);
    min-height: auto;
    padding: 28px;
    margin: 0px 50px 50px 0px;
	width: auto;
	display: inline-block;
}

.ruler{ 
	border-bottom: 1px solid #c9c9c9;
}

.footer-wrapper{
	background-color: #fff;
	overflow: hidden; 
	text-align: center; 
	padding-top: 50px; 
	padding-bottom: 50px;
}

.footer a{
	text-decoration: none;
	display: block;
}

.formbox-register, .formbox-login{
	border-radius: 36px;
	background-color: #fff;
    box-shadow: 0px 5px 16px rgba(0,0,0,0.3);
    min-height: auto;
    padding: 28px;
	width: 30%;
	margin:50px;
	display: inline-flex;
	vertical-align: middle
}

.background-form {
	border-radius: 36px;
	background-color: #062F4F;
    box-shadow: 0px 5px 16px rgba(0,0,0,0.3);
    min-height: 600px;
    padding: 28px;
	width: 70%;
	margin: auto auto;
	margin-top:50px;
	margin-bottom:50px;
	text-align:center;
}

form{
	display: block;
    text-align: center;
	margin: auto;
}
